<nav>
    <a href="/" class=<%- page==='home' ? 'active' : '' %>>Home</a>
    <a href="/custom" class=<%- page==='custom' ? 'active' : '' %>>Custom</a>
    <a href="/sedan" class=<%- page==='sedan' ? 'active' : '' %>>Sedan</a>
    <a href="suv" class=<%- page==='suv' ? 'active' : '' %>>SUV</a>
    <a href="truck" class=<%- page==='truck' ? 'active' : '' %>>Truck</a>