<nav>
  <a href="/" class="<%- name==='Unknown' ? 'active' : '' %>">Home</a>
  <a href="/custom" class="<%- name==='Custom' ? 'active' : '' %>">Custom</a>
  <a href="/sedan" class="<%- name==='Sedan' ? 'active' : '' %>">Sedan</a>
  <a href="suv" class="<%- name==='SUV' ? 'active' : '' %>">SUV</a>
  <a href="truck" class="<%- name==='Truck' ? 'active' : '' %>">Truck</a>
</nav>
