<section class="inventory-detail">
  <img
    src="<%= inventory.inv_image %>"
    alt="<%= inventory.inv_make+' '+ inventory.inv_model %>"
    loading="lazy"
    width="500"
    height="333"
  />
  <div class="i-body">
    <h2>
      <%= inventory.inv_year +' '+ inventory.inv_make +' '+ inventory.inv_model
      %>
    </h2>
    <p>
      <span>Price:</span> $<%=
      Number(inventory.inv_price).toLocaleString('en-US') %>
    </p>
    <p>
      <span>Mileage:</span> <%= Number(inventory.inv_miles).toLocaleString() %>
    </p>
    <p><span>Color:</span> <%= inventory.inv_color %></p>
    <p><%= inventory.inv_description %></p>
  </div>
</section>
